<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intro to Vue.js</title>
    <link rel="stylesheet" href="../dist/css/foundation.min.css">
    <script src="../dist/js/jquery.js"></script>
    <script src="../dist/js/foundation.min.js"></script>
    <script src="../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
<h3>Just testing simple Hello World</h3>
<div id="app">
    {{ message }}
</div>

<h3>Binding here</h3>
<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>

<h3>Conditionals</h3>
<div id="app-3">
    <p v-if="seen">Now you see me</p>
    <p v-if="!seen">Now you don't</p>
</div>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!'
    }
  });

  app.message = 'asdfasdfa';

  var app2 = new Vue({
    el: '#app-2',
    data: {
      message: 'something else now'
    }
  });

  var app3 = new Vue({
    el: '#app-3',
    data: {
      seen: 'asdf'
    }
  });
</script>
</body>
</html>