<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intro to Vue.js</title>
    <link rel="stylesheet" href="../dist/css/foundation.min.css">
    <link rel="stylesheet" href="css/base.css">
    <script src="../dist/js/jquery.js"></script>
    <script src="../dist/js/foundation.min.js"></script>
    <script src="../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
<h3>Just testing simple Hello World</h3>
<div id="app">
    {{ message }}
</div>

<h3>Binding here</h3>
<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>

<h3>Conditionals</h3>
<div id="app-3">
    <p v-if="seen">Now you see me</p>
    <p v-if="!seen">Now you don't</p>
</div>

<h3>Conditionals with transitions</h3>
<div id="app-3-1">
    <button v-on:click="show = !show">
        Toggle
    </button>
    <transition name="fade">
        <p v-if="show">hello</p>
    </transition>
</div>

<h3>For loops</h3>
<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo }}
        </li>
    </ol>
</div>

<h3>User input</h3>
<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
</div>


<h3>Actual TODO app</h3>
<div id="todo-app">
    <ol>
        <li v-for="todo in todos">
            {{ todo }}
        </li>
    </ol>
    <form v-on:submit.prevent="addTodo">
        <input type="text" v-model="currentTodo">
        <input type="submit" value="Add todo">
    </form>
</div>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!'
    }
  });

  app.message = 'asdfasdfa';

  var app2 = new Vue({
    el: '#app-2',
    data: {
      message: 'something else now'
    }
  });

  var app3 = new Vue({
    el: '#app-3',
    data: {
      seen: 'asdf'
    }
  });

  var app3_1 = new Vue({
    el: '#app-3-1',
    data: {
      show: false
    }
  });

  var app4 = new Vue({
    el: '#app-4',
    data: {
      todos: [
        'hahaha',
        'hohoho',
        'hehehe'
      ]
    }
  });

  app4.todos.push('New item');
  app4.todos.push('New item 2');

  var app5 = new Vue({
    el: '#app-5',
    data: {
      message: 'Hello Vue.js!'
    },
    methods: {
      reverseMessage: function () {
        this.message = this.message.split('').reverse().join('')
      }
    }
  });

  var todoApp = new Vue({
    el: '#todo-app',
    data: {
      currentTodo: '',
      todos: [
        'hahaha',
        'hohoho',
        'hehehe'
      ]
    },
    methods: {
      addTodo: function () {
        this.todos.push(this.currentTodo);
        this.currentTodo = '';
      }
    }
  });

</script>
</body>
</html>